[SddmGreeterTheme]
Name=SLM
Description=SLM native login theme (QtQuick)
Author=SLM Desktop Team
Copyright=(c) 2026, SLM Desktop Team
License=CC-BY-SA
Type=sddm-theme
Version=1.0
Website=https://slm.local
Screenshot=Background.jpeg
MainScript=Main.qml
ConfigFile=theme.conf
Theme-Id=SLM
Theme-API=2.0
QtVersion=6
