<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE policyconfig PUBLIC
 "-//freedesktop//DTD PolicyKit Policy Configuration 1.0//EN"
 "http://www.freedesktop.org/standards/PolicyKit/1/policyconfig.dtd">
<policyconfig>
  <vendor>SLM Desktop</vendor>
  <vendor_url>https://example.invalid/slm-desktop</vendor_url>

  <action id="org.slm.desktop.devices.unlock">
    <description>Unlock encrypted device</description>
    <message>Authentication is required to unlock this device.</message>
    <defaults>
      <allow_any>no</allow_any>
      <allow_inactive>auth_admin</allow_inactive>
      <allow_active>auth_admin_keep</allow_active>
    </defaults>
  </action>

  <action id="org.slm.desktop.devices.format">
    <description>Format storage device</description>
    <message>Authentication is required to format this device.</message>
    <defaults>
      <allow_any>no</allow_any>
      <allow_inactive>auth_admin</allow_inactive>
      <allow_active>auth_admin_keep</allow_active>
    </defaults>
  </action>
</policyconfig>

